# Ignore all node_modules folders at any level
**/node_modules

# Ignore environment variable files
.env
.env.local
.env.*.local
# Keep example files
!.env.example

# Ignore log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
dist/
build/

*.tgz

# Ignore temporary files and caches
tmp/
temp/
.cache/

# Ignore OS-specific files
.DS_Store        # macOS
Thumbs.db        # Windows

# Ignore editor settings
.vscode/
.idea/
*.swp            # vi/vim

# Ignore Node-RED data and backup files
node-red-docker/node_red_data/flows.json
node-red-docker/node_red_data/.flows.json.backup
node-red-docker/node_red_data/flows.json.backup*
node-red-docker/node_red_data/.flows.json.backup*

# Ignore backup files
*.backup
*.backup.*
backup.*/